<div class="row">
  <button class="btn orange small right" (click)="logout()">logout</button>
</div>
<div class="row">
  <div *ngFor="let table of tables">
      <div class="col m3">
        <div class="card medium orange darken-1" id={{table.name}}>
          <div class="card-content white-text">
            <span class="card-title">{{ table.name }}</span>
            <p>{{ table.desc }}</p>
          </div>
          <div class="card-action white-text" >
<!--           <a class ="white-text" href="#">See the table!</a> -->
<!--             <button class ="white-text" (click)="getTable(table.name)">See the table!</button> -->
<!--               <div *ngFor="let element of table">ssss</div> -->

            <button class ="btn orange small right" (click)="getTable(table.name)">See the table!</button>

          </div>
        </div>
      </div>
</div>
</div>


